// Utilities
@use "../utilities/colors";
@use "../utilities/fonts";

// Style for tip calcualtor
.tip-calculator {
    $self: &;
    background-color: colors.$white;
    border-radius: 25px 25px 0 0;

    @media screen and (min-width: 550px) {
        margin: 0 auto 70px auto;

        width: 70%;

        border-radius: 25px;
    }

    @media screen and (min-width: 768px) {
        width: 60%;
    }

    @media screen and (min-width: 1024px) {
        display: flex;

        width: 80%;
    }

    @media screen and (min-width: 1440px) {
        // width: 920px;
        width: 64%;
    }

    @media screen and (min-width: 1920px) {
        width: 50%;
    }

    // Inputs part
    // -- Input with icon (Bill, Number of People)
    &__input-part {
        padding: 31px;

        @media screen and (min-width: 1024px) {
            flex-basis: 50%;

            padding: 45px 30px 45px 45px;
        }
    }

    // &__number-input-container {}

    &__group-title {
        margin-bottom: 5px;

        font-size: 1em;
        color: colors.$lark-grayish-cyan-a;
        font-weight: 700;
    }

    &__number-input-wrapper {
        position: relative;

        &--error-mode {
            #{ $self }__number-input {
                border: solid 2px colors.$error;
            }

            #{ $self }__input-error-message {
                display: block;
            }
        }
    }

    // &__number-input-label {}

    &__number-input {
        padding: 5px 15px;

        width: 100%;

        background-color: colors.$light-grayish-cyan-b;
        border: none;
        border-radius: 5px;
        outline-color: colors.$strong-cyan;

        font: 700 1.5em fonts.$space-mono;
        text-align: end;
        color: colors.$very-dark-cyan;
    }

    &__number-input-icon {
        position: absolute;
        top: 50%;
        left: 20px;

        transform: translateY(-50%);
    }

    &__input-error-message {
        display: none;
        position: absolute;
        top: -29px;
        right: 0;

        color: colors.$error;
        font-weight: 700;
    }

    // -- Radio inputs section (Select Tip)
    &__radio-inputs {
        margin: 30px 0 20px 0;

        @media screen and (min-width: 1024px) {
            margin: 40px 0 25px 0;
        }
    }

    &__tips-container {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(3, 1fr);
        justify-content: center;
        align-items: center;

        margin-top: 15px;

        @media screen and (min-width: 1024px) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
            grid-template-rows: repeat(2, 1fr);
        }
    }

    &__tip {
        height: 50px;

        @media screen and (min-width: 1024px) {
            margin: 0 8px 16px 8px !important;

            &:nth-child(1),
            &:nth-child(4) {
                margin-left: 0 !important;
            }

            &:nth-child(3),
            &:nth-child(6) {
                margin-right: 0 !important;
            }
        }

        &:nth-child(even) {
            margin: 0 0 16px 8px;
        }

        &:nth-child(odd) {
            margin: 0 8px 16px 0;
        }
    }

    &__radio-input {
        display: none;

        &:checked ~ #{ $self }__custom-radio {
            background-color: colors.$strong-cyan;

            color: colors.$very-dark-cyan;
        }
    }

    &__custom-radio {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;

        background-color: colors.$very-dark-cyan;
        border-radius: 5px;
        transition: background-color 150ms ease-out,
                    color 150ms ease-out;

        color: colors.$white;
        font-size: 1.5em;
        font-weight: 700;
    }

    &__custom-tip {
        width: 100%;
        height: 100%;

        border: none;
        background-color: colors.$light-grayish-cyan-b;
        border-radius: 5px;
        outline-color: colors.$strong-cyan;

        text-align: center;
        font-size: 1.5em;
        font-weight: 700;
        color: colors.$very-dark-cyan;

        @media screen and (min-width: 1024px) {
            text-align: end;
        }

        &::placeholder {
            color: colors.$lark-grayish-cyan-a;
            font-family: fonts.$space-mono;
        }
    }

    // Output part
    &__output {
        flex-basis: 50%;

        padding: 0 25px 31px 25px;

        @media screen and (min-width: 1024px) {
            flex-basis: 50%;

            padding: 30px 33px 30px 15px;
        }
    }

    &__output-content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        padding: 30px 25px 25px 25px;

        height: 100%;

        background-color: colors.$very-dark-cyan;
        border-radius: 15px;

        @media screen and (min-width: 1024px) {
            padding: 50px 40px 35px 40px;
        }
    }

    // &__outputs-wrapper {}

    &__single-output {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 20px;

        &:nth-child(2) {
            margin-bottom: 35px;

            @media screen and (min-width: 1024px) {
                margin-bottom: 0;
            }
        }
    }

    // &__output-text-wrapper {}

    &__single-output-title {
        font-size: 1em;
        color: colors.$white;
    }

    &__single-output-under-title {
        font-size: 0.8em;
        color: colors.$lark-grayish-cyan-b;
    }

    &__output-result {
        width: 150px;

        overflow-x: auto;

        color: colors.$strong-cyan;
        font-weight: 700;
        font-size: 2em;
        text-align: end;

        @media screen and (min-width: 1024px) {
            font-size: 3em;
        }

        @media screen and (min-width: 1440px) {
            width: 200px;
        }
    }

    &__reset-button {
        padding: 10px 0;

        width: 100%;

        background-color: colors.$strong-cyan;
        outline: none;
        border: none;
        border-radius: 5px;
        transition: background-color 150ms ease-out;
        cursor: pointer;

        font: 700 1.2em fonts.$space-mono;
        color: colors.$very-dark-cyan;

        &:hover {
            background-color: colors.$hover;
        }

        &--disable {
            opacity: 0.2;
        }
    }
}
