// Utilities
@use "./colors";
@use "./fonts";

// Base styles for project
*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    background-color: colors.$light-grayish-cyan-a;

    font-family: fonts.$space-mono;
}
